<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>follows</th>
			<th><a href="<%= follows_user_path(user) %>">
				    <strong id="follows" class="stat">
				      <%= user.followings.count %>
				    </strong>
			  	</a>
			</th>
		</tr>

		<tr>
			<th>followers</th>
			<th><a href="<%= followers_user_path(user) %>">
					<strong id="followers" class="stat">
				      <%= user.followers.count %>
				    </strong>
				</a>
			</th>
		</tr>
</table>

<div class="row">
	<% if user.id == current_user.id %>
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	<% else %>
	<%= render 'relationships/follow_button', user: user, mode: true %>
	<% end %>
</div>